<h1> Links </h1>
<hr>
<% provide(:title, 'Cheam Croquet & Bowls Club | Links') %>

<%=link_to "The Croquet Association", "http://www.croquet.org.uk/" %>
<ul> <li> <%=link_to "Events", "http://www.croquet.org.uk/tournament/" %> </li> </ul>